<!DOCTYPE html>
<html lang="en" data-ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Redmine" %></title>
    <%= csrf_meta_tags %>

    <!-- In production use minified version:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-resource.js"></script>

    <%= javascript_heads %>
  </head>
<body>
</body>
<%= link_to "<< retour à l'interface habituelle", home_path %>
<div class="container">
  <div data-ng-view></div>
</div> <!-- /container -->
<%= javascript_include_tag "application" %>
<%= javascript_include_tag("app/app", :plugin => "redmine_angular_ui") %>
<%= javascript_include_tag("app/controllers", :plugin => "redmine_angular_ui") %>
<%= javascript_include_tag("app/services", :plugin => "redmine_angular_ui") %>
<%= javascript_include_tag("app/directives", :plugin => "redmine_angular_ui") %>
<%= javascript_include_tag("app/filters", :plugin => "redmine_angular_ui") %>

</body>
</html>
