<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" ng-controller="AppController" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Redmine" %></title>
    <%= csrf_meta_tags %>

    <!-- In production, use minified version:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.js"></script>

    <%= javascript_heads %>

    <!-- Bootstrap - Latest compiled and minified CSS & Javascript -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!-- link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <!-- Custom CSS -->
    <%= stylesheet_link_tag("angular_ui", :plugin => "redmine_angular_ui") %>
    <%= stylesheet_link_tag("hotkeys", :plugin => "redmine_angular_ui") %>

  </head>
<body>
</body>

  <div class="header" style="margin-bottom: 20px;">
    <%= link_to "<< retour à l'interface habituelle", home_path %>
  </div>

<div class="container">

  <div class="alert" ng-class="alertType" ng-show="alertType" ng-cloak>
    {{alertMessage}}
  </div>

  <ng-include src="'/plugin_assets/redmine_angular_ui/templates/notifications.html'"></ng-include>

  <div data-ng-view></div>

</div> <!-- /container -->

<%= javascript_include_tag "application" %>

  <script>
    var headers = { 'X-Redmine-API-Key': '<%= @api_key %>', 'Content-Type': 'application/json' };
  </script>

  <%= javascript_include_tag("hotkeys", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag 'http://faye-without-redis.herokuapp.com/faye.js' %>

  <%= javascript_include_tag("app/app", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/directives", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/filters", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/routes", :plugin => "redmine_angular_ui") %>

  <% services_files = Dir[Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/app/services/*.js")].map { |s| s.sub(Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/").to_s, "") } %>
  <% controllers_files = Dir[Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/app/controllers/*.js")].map { |s| s.sub(Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/").to_s, "") } %>
  <% (services_files|controllers_files).each do |f| %>
    <%= javascript_include_tag(f, :plugin => "redmine_angular_ui") %>
  <% end %>

  </body>
</html>
