<!DOCTYPE html>
<html lang="en" data-ng-app="myApp" ng-controller="AppController" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title><%= content_for?(:title) ? yield(:title) : "Redmine" %></title>
    <%= csrf_meta_tags %>

    <!-- In production, use minified version:
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
    -->
    <script src="/plugin_assets/redmine_angular_ui/bower_components/angular/angular.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.js"></script> -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular-sanitize.js"></script>
    <script src="/plugin_assets/redmine_angular_ui/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/plugin_assets/redmine_angular_ui/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/plugin_assets/redmine_angular_ui/bower_components/hammerjs/hammer.js"></script>
    <script src="/plugin_assets/redmine_angular_ui/bower_components/angular-material/angular-material.js"></script>
    <!-- <script src="//ajax.googleapis.com/ajax/libs/angular_material/0.6/angular-material.min.js"></script> -->

    <%= javascript_heads %>

    <link rel="stylesheet" href="/plugin_assets/redmine_angular_ui/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="/plugin_assets/redmine_angular_ui/bower_components/angular-material/themes/green-theme.css">
    <link rel="stylesheet" href="/plugin_assets/redmine_angular_ui/stylesheets/css-sprite/sprite-navigation-white.css">

    <!-- Custom CSS -->
    <%= stylesheet_link_tag("angular_ui", :plugin => "redmine_angular_ui") %>
    <%= stylesheet_link_tag("hotkeys", :plugin => "redmine_angular_ui") %>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag("redproject", :plugin => "redmine_angular_ui") %>

  </head>
<body md-theme="green" layout="row">

  <main-loader></main-loader>

    <!--
    <div class="alert" ng-class="alertType" ng-show="alertType" ng-cloak ng-bind="alertMessage"></div>

    <ng-include src="'/plugin_assets/redmine_angular_ui/templates/notifications.html'"></ng-include>
    -->

    <div data-ng-view style="display: flex;"></div>


  <%= javascript_include_tag "application" %>

  <script>
    var headers = { 'X-Redmine-API-Key': '<%= @api_key %>', 'Content-Type': 'application/json' };
    var api_key = '<%= @api_key %>';
    <% if Rails.env == 'development'
      faye_server_url = '//faye-redis.herokuapp.com/faye'
    else
      faye_server_url = "//#{request.host_with_port}/faye/faye"
    end %>
    var faye_url = '<%= faye_server_url %>';
  </script>

  <%= javascript_include_tag("hotkeys", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("ui-utils-0.1.1/ui-utils.js", :plugin => "redmine_angular_ui") %>

  <%= javascript_include_tag "#{faye_server_url}/faye.js" %>

  <%= javascript_include_tag("app/app", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/directives", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/filters", :plugin => "redmine_angular_ui") %>
  <%= javascript_include_tag("app/routes", :plugin => "redmine_angular_ui") %>

  <% services_files = Dir[Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/app/services/*.js")].map { |s| s.sub(Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/").to_s, "") } %>
  <% controllers_files = Dir[Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/app/controllers/*.js")].map { |s| s.sub(Rails.root.join("public/plugin_assets/redmine_angular_ui/javascripts/").to_s, "") } %>
  <% (services_files|controllers_files).each do |f| %>
    <%= javascript_include_tag(f, :plugin => "redmine_angular_ui") %>
  <% end %>

  <%= javascript_include_tag("app/uicomponents/custom_dropdown.js", :plugin => "redmine_angular_ui") %>

  </body>
</html>
